.navbar{
    display: flex;
    gap: 1rem;
    background-color: grey;
    justify-content: space-between;
}

p{
    margin: 0px;
    font-weight: 600;
}

.redirect_link{
    text-decoration: none;
    color: black;
}