.nav_tab{
  display: flex;
  align-items: center;
}

.nav_link{
  padding: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  color: black;
}

.page_main{
  background-color: rgb(255, 98, 98);
  height: 100vh;
  overflow-y: scroll;
}

.navbar{
  display: flex;
  background-color: white;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 2;
}

svg{
  margin: 0px;
}

.cloud{
   width: 100%;
}

.gradient{
  /* background-image: linear-gradient(rgb(255, 98, 98), rgb(39, 0, 0)); */
  background-color: white;
}

@media only screen and (max-width: 700px) {
  .project_container{
    flex-direction: column;
  }

  .project_discription{
    flex-direction: column;
    justify-content: start;
  }
}