.main_container{
  width: 100vw;
  height: 100vh; /* Adjust height as needed */
  display: flex;
  flex-direction: row;
}

.main_container_left{
  min-height: auto;
  width: auto;
  flex: .5;
}

.main_container_right{
  min-height: 100%;
  overflow-y: scroll;
}

.main_container_right::-webkit-scrollbar {
  width: .8em;
}
 
.main_container_right::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

.main_container_right::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.771);
  outline: none;
}

.bento_container{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  padding: 2rem 0rem;
  width: 100%;
}

h2{
  margin: 0px;
}
p{
  margin: 0px;
}

.profile_container{
  padding: 5rem 3rem;
  margin: 0rem 0rem;
  position: sticky;
  top: 0px;
  animation: swoop_right_fade .4s ease-out .1s forwards;
  animation-fill-mode: forwards;
  margin: 1rem;
}

#profile_name_text{
  font-size: 3rem;
  font-weight: 300;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.274);
}

.profile_desc_text{
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.274);
}

.social_tab{
  height: auto;
  min-width: 100px;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.11);
  padding: 1.7rem;
  font-size: 3rem;
  margin: 0px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border-radius: .6rem;
  border: .1rem solid rgba(0, 0, 0, 0.144);
  transition: 100ms;

}

.social_tab:hover{
  border-radius: .6rem .6rem 0rem 0rem;
  box-shadow: 0px 4px 0px rgb(28, 126, 255);
  transition: 100ms;
}

svg{
  margin: 0px;
}

.social_text{
  font-size: 1.2rem;
}

.follow_button{
  margin: .3rem 0rem;
  font-size: .8rem;
  border-radius: 2rem;
  border: .1rem solid rgba(0, 0, 0, 0.13);
  padding: .2rem .5rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.171);
  text-decoration: none;
  color: black;
  transition: 200ms;
}

.follow_button:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.342);
  transition: 200ms;
}

.section_container{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 3rem;
  animation: swoop_up_fade .2s ease-out .1s forwards;
  animation-fill-mode: forwards;
  text-align: center;
}

.section_header{
  visibility: hidden;
  animation: fade .4s ease-out .7s forwards;
  animation-fill-mode: forwards;
  padding: 0rem .3rem;
}

.section_header:hover{
  cursor: pointer;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.288);
}

.profile_picture{
  height: 12rem;
  width: 12rem;
  border-radius: 12rem;
  filter: brightness(1.3);
  filter: contrast(.8);
  filter: saturate(1);
}

.util_tab{
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  font-size: 2.3rem;
  border: .1rem solid rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.171);
  padding: .6rem;
  min-width: 5.2rem;
  transition: 200ms;
}

.util_tab:hover{
  cursor: pointer;
  transform: translateY(-15px);
  transition: 200ms;
}

#util_container{
  gap: .5rem;
  justify-content: start;
}

#util_text{
  font-size: .9rem;
}

#project_container{
  display: flex;
  justify-content: space-around;
  padding: 2rem 0rem;
  visibility: hidden;
  animation: fade .6s ease-out 0s forwards;
  animation-fill-mode: forwards;
}

.project_tab{
  max-width: 20rem;
  height: max-content;
  border: .1rem solid rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.171);
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
}

.project_thumbnail{
  min-width: 20rem;
  width: 20rem;
  height: auto;
  border-radius: .8rem .8rem 0rem 0rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.135);
}

.project_details{
  width: auto;
  border-top: .3rem solid rgba(254, 255, 192, 0);
  border-radius: 0rem 0rem .8rem .8rem;
  padding: .9rem;
  background-color: white;
}

#project_text{
  padding: .3rem 0rem;
}

.project_description{
  width: 100%;
}

.project_link{
  text-decoration: none;
  cursor: pointer;
  color: rgb(18, 108, 243);
}

.project_link:hover{
  color: rgb(0, 73, 184);
}

.stack{
  display: flex;
  gap: .7rem;
  flex-wrap: wrap;
}

.stack_element{
  background-color: rgb(243, 243, 243);
  border-radius: .7rem;
  padding: 0rem .5rem;
  border: .1rem solid rgba(0, 0, 0, 0.276);
}

.project_link_container{
  padding: .6rem 0rem;
  display: flex;
  gap: 2rem;
}

.view_more_button{
  text-decoration: none;
  color: black;
  border-radius: .9rem;
  border: .1rem solid black; 
  padding: .2rem .4rem;
}

.show_more_section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.all_project_container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

#projectPage_container{
  display: flex;
  justify-content: space-around;
  padding: 2rem 0rem;
}

@media only screen and (max-width: 700px) {
  .main_container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
  }

  .profile_container{
    padding: 5rem 3rem;
    margin: 0rem 0rem;
  }

  .bento_container{
    height: auto;
  }

  #social_container{
    justify-content: space-evenly;
    gap: .8rem;
  }

  .social_tab{
    align-items: center;
  }

  #util_container{
    justify-content: space-evenly;
    gap: .3rem;
  }

  svg{
    background-color: transparent;
  }

  #github_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    max-width: calc(100vw - 12vw);
  }

  .parent_github_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main_container_right{
    width: 100vw;
    margin: 0px;
    display: flex;
    flex: 1;
  }
}

@keyframes swoop_up_fade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  20% {
    opacity: 0.2;
    transform: translateY(8px);
  }
  40% {
    opacity: 0.4;
    transform: translateY(6px);
  }
  60% {
    opacity: 0.6;
    transform: translateY(4px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes swoop_right_fade {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  20% {
    opacity: 0.2;
    transform: translateX(-16px);
  }
  40% {
    opacity: 0.4;
    transform: translateX(-12px);
  }
  60% {
    opacity: 0.6;
    transform: translateX(-9px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-4px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade {
  0%{
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes domino {
  0%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(-1rem);
  }
  100%{
    transform: translateY(0rem);
  }
}

#util1{
  animation: domino 1s linear 0s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util2{
  animation: domino 1s linear 1s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util3{
  animation: domino 1s linear 2s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util4{
  animation: domino 1s linear 3s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util5{
  animation: domino 1s linear 4s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util6{
  animation: domino 1s linear 5s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util7{
  animation: domino 1s linear 6s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util8{
  animation: domino 1s linear 7s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util9{
  animation: domino 1s linear 8s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util10{
  animation: domino 1s linear 9s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util11{
  animation: domino 1s linear 10s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util12{
  animation: domino 1s linear 11s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util13{
  animation: domino 1s linear 12s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util14{
  animation: domino 1s linear 13s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util15{
  animation: domino 1s linear 14s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util16{
  animation: domino 1s linear 16s;
  animation-fill-mode: freverse;
  animation-iteration-count: 1;
}
#util17{
  animation: domino 1s linear 17s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util18{
  animation: domino 1s linear 18s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util19{
  animation: domino 1s linear 19s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util20{
  animation: domino 1s linear 20s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util21{
  animation: domino 1s linear 21s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util22{
  animation: domino 1s linear 22s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util23{
  animation: domino 1s linear 23s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util24{
  animation: domino 1s linear 24s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util25{
  animation: domino 1s linear 25s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util26{
  animation: domino 1s linear 26s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util27{
  animation: domino 1s linear 27s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util28{
  animation: domino 1s linear 28s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util29{
  animation: domino 1s linear 29s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util30{
  animation: domino 1s linear 30s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util31{
  animation: domino 1s linear 31s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util32{
  animation: domino 1s linear 32s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util33{
  animation: domino 1s linear 33s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util34{
  animation: domino 1s linear 34s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}
#util35{
  animation: domino 1s linear 35s;
  animation-fill-mode: reverse;
  animation-iteration-count: 1;
}